@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-purple: #818cf8;
  --color-dark-purple: #6366f1;
}

@layer theme {
  .dark {
    --color-background: #0f172a;
    --color-text-primary: #f1f5f9;
    --color-text-secondary: #cbd5e1;
  }
}

.control-btn {
  @apply cursor-pointer flex items-center justify-center text-purple rounded-md w-10 h-10 md:w-11 md:h-11 border border-dark-purple shadow-[0_0_0.5rem_#6366f1] hover:border-indigo-700 hover:shadow-[0_0_0.8rem_#818cf8] bg-gradient-to-br;
}
